@import "functions";

$primary: #b744cc;
$cyan:    #00ffff;
$magenta: #ff00ff;
$yellow:  #ffff00;

$lighter: #d0d0d0;
$light:   #c8c8c8;
$dark:    #5d5d5d;
$darker:  #393939;
$darkest: #262626;
$black:   #030303;

$base-font-size:   24px;
$base-font-family: Lato;
$base-font-color:  $black;
$base-font-weight: 300;
$base-font:        stack($base-font-family);
$base-line-height: 1.7;

$header-font-family: "Source Sans Pro";
$header-font:        stack($header-font-family);
$header-font-color:  $black;
$header-font-weight: 800;
$header-line-height: 1.7;

$content-width: 1024px;
$breakpoint:    640px;
