@charset "utf-8";
@import  "variables";

body {
  width:  100%;
  height: 100%;

  font-size:   $base-font-size;
  font-family: $base-font;
  font-weight: $base-font-weight;
}

h1, h2 {
  font-family: $header-font;
  font-weight: $header-font-weight;
}

h1 { font-size: 132px }

h2 {
  text-align: center;
  font-size: 72px;
}

h3,
h4 {
  font-family: $base-font;
  font-size:   30px;
  line-height: 1.6;
  margin:      0 0 1.5rem 0;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 300;
}

p {
  line-height: 2.0rem;
  margin: 1rem 0;
}

a {
  color: #B744CC;
  text-decoration: none;
}

ul {
  line-height: 1.4;
}

.text-strikethrough {
  text-decoration-line: line-through;
}

.text-lighter {
  color: $lighter;
}

.text-darker {
  color: $darker;
}

.bg-dark {
  background-color: $darkest;
}

a.text-light {
  color: $light;
}

.active {
  color: $primary;
}

.flex {
  display: flex;
}

nav,
section,
footer {
  max-width: 70rem;
  padding: 3rem 2rem;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-height: 6rem;
    max-width: 100%;
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

  li a {
    font-size: 20px;
    color: #3B3A3A;
    padding: 0.5rem 2rem;
    text-decoration: none;
  }
}

.hero {
  .container {
    margin-top: 3rem;
  }

  img {
    max-width: 10rem;
    float: left;
  }

  h1 {
    float: left;
    margin: 0 0 -1.5rem 1rem;
  }

  .flex {
    align-items: flex-end;
  }
}

.project {
  h3 {
    line-height: 1.2;
  }

  li {
    margin-bottom: .8rem;
    margin-left: 2rem;
    text-indent: -2rem;

    &:before {
      content: "";
      display: inline-block;
      height: 1.3rem;
      width: 1.3rem;
      background-image: url("img/bullet.svg");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: bottom left;
      margin-right: 0.4rem;
    }
  }
}

.skill {
  span {
    display: block;
  }

  .number {
    display: none;
  }

  .progress {
    background: $darkest;
    margin: 0.2rem 5rem 0.2rem 0;
    overflow: hidden;
  }

  .progress-bar {
    height: 5px;
    margin: 2px;
    background-image:
      linear-gradient(to right, $cyan, $magenta, $yellow);
      background-size: 230px 100%;
  }

  .progress-1  { width: calc(10%  - 0.5rem) }
  .progress-2  { width: calc(20%  - 0.7rem) }
  .progress-3  { width: calc(30%  - 0.9rem) }
  .progress-4  { width: calc(40%  - 1.1rem) }
  .progress-5  { width: calc(50%  - 1.3rem) }
  .progress-6  { width: calc(60%  - 1.5rem) }
  .progress-7  { width: calc(70%  - 1.7rem) }
  .progress-8  { width: calc(80%  - 1.9rem) }
  .progress-9  { width: calc(90%  - 2.1rem) }
  .progress-10 { width: calc(100% - 2.2rem) }

  li {
    margin-bottom: 1rem;
  }
}

footer {
  padding: 3rem 2rem 0rem 2rem;

  h3 {
    margin-bottom: 0rem;
  }

  h3, li.heading {
    color: $light;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul > li {
    line-height: 1;
    margin-bottom: .8rem;
  }

  p, li > a {
    color: $dark;
  }

  #footer-menu {
    display: flex;
    justify-content: space-evenly;

    ul {
      flex-grow: 1;
    }
  }

  ul#copyright {
    li {
      color: $dark;
      display: inline;
      margin-right: 1rem;
    }

    li a {
      color: $darker;
    }

    li a:hover {
    }
  }
}
