@charset "utf-8";
@import  "variables";
@import  "utilities";

body {
  font-size:   $base-font-size;
  font-family: $base-font;
  font-weight: $base-font-weight;
}

h1, h2 {
  font-family: $header-font;
  font-weight: $header-font-weight;
}

h3 {
  font-family: $base-font;
  font-weight: 400;
}

h4 {
  font-family: $base-font;
  font-weight: 300;
}

p {
  line-height: 2.0rem;
  margin: 1rem 0;
}

a {
  color: #B744CC;
  text-decoration: none;
}

ul {
  line-height: 1.4;
}

.text-light {
  color: $light;
}

.text-lighter {
  color: $lighter;
}

.text-darker {
  color: $darker;
}

.grad-link {
  @include gradient(to right, $grad-hover);
  background-size: 400% 100%;
  background-position: left center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .8s ease-in-out;
}

.grad-link:hover,
.active {
  background-position: right center !important;
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.bg-dark {
  background-color: $darkest;
}

nav {
  li a {
    font-size: 20px;
    padding: 0.5rem 2rem;
    text-decoration: none;
  }
}

#projects {
  h3 {
    line-height: 1.2;
  }

  li {
    margin-bottom: .8rem;
    margin-left: 2rem;
    text-indent: -2rem;

    &:before {
      content: "";
      display: inline-block;
      height: 1.3rem;
      width: 1.3rem;
      background-image: url("img/bullet.svg");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: bottom left;
      margin-right: 0.4rem;
    }
  }
}

#skills {
  span {
    display: block;
  }

  .number {
    display: none;
  }

  .progress {
    background: $darkest;
    margin: 0.2rem 5rem 0.2rem 0;
    overflow: hidden;
  }

  .progress-bar {
    height: 5px;
    margin: 2px;
    background-image:
      linear-gradient(to right, $cyan, $magenta, $yellow);
      background-size: 230px 100%;
  }

  .progress-1  { width: calc(10%  - 0.5rem) }
  .progress-2  { width: calc(20%  - 0.7rem) }
  .progress-3  { width: calc(30%  - 0.9rem) }
  .progress-4  { width: calc(40%  - 1.1rem) }
  .progress-5  { width: calc(50%  - 1.3rem) }
  .progress-6  { width: calc(60%  - 1.5rem) }
  .progress-7  { width: calc(70%  - 1.7rem) }
  .progress-8  { width: calc(80%  - 1.9rem) }
  .progress-9  { width: calc(90%  - 2.1rem) }
  .progress-10 { width: calc(100% - 2.2rem) }

  li {
    margin-bottom: 1rem;
  }
}

footer {
  padding: 3rem 2rem 0rem 2rem;

  h3 {
    margin-bottom: 0rem;
  }

  h3, li.heading {
    color: $light;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul > li {
    line-height: 1;
    margin-bottom: .8rem;
  }

  p, li > a {
    color: $dark;
  }

  #footer-menu {
    display: flex;
    justify-content: space-evenly;

    ul {
      flex-grow: 1;
    }
  }

  ul#copyright {
    li {
      color: $dark;
      display: inline;
      margin-right: 1rem;
    }

    li a {
      color: $darker;
    }

    li a:hover {
    }
  }
}

// Hack to add Tailwind-style responsive classes without using PostCSS

.text-7xl { font-size: 6rem; }
.text-8xl { font-size: 8rem; }
#hero h1 { line-height: 4.7rem }

@media (min-width: 640px) {
  .sm\:text-7xl { font-size: 6rem; }
  .sm\:text-8xl { font-size: 8rem; }
  #hero h1 { line-height: 8rem }
}

@media (min-width: 768px) {
  .md\:text-7xl { font-size: 6rem; }
  .md\:text-8xl { font-size: 8rem; }
}

@media (min-width: 1024px) {
  .lg\:text-7xl { font-size: 6rem; }
  .lg\:text-8xl { font-size: 8rem; }
}

@media (min-width: 1280px) {
  .xl\:text-7xl { font-size: 6rem; }
  .xl\:text-8xl { font-size: 8rem; }
}

