@charset "utf-8";
@import "variables";

body {
  width: 100%;
  height: 100%;
  font-size:   $base-font-size;
  font-family: $base-font;
  font-weight: $base-font-weight;
}

h1, h2 {
  font-size:   132px;
  font-family: $header-font;
  font-weight: $header-font-weight;
}

h3,
h4 {
  font-family: $base-font;
  font-size:   30px;
  line-height: 0.75;
  margin: 1.3rem 0;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 300;
}

a {
  color: #B744CC;
  text-decoration: none;
}

section {
  max-width: 70rem;
  padding: 3rem 2rem;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  max-width: 70rem;
  height: 5rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

nav img {
  max-height: 6rem;
  max-width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav li a {
  font-size: 20px;
  color: #3B3A3A;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

.text-strikethrough {
  text-decoration-line: line-through;
}

.text-lighter {
  color: $text-lighter;
}

a.text-light {
  color: #c8c8c8;
}

.active {
  color: #B744CC;
}

.flex {
  display: flex;
}

.hero {
  align-items: flex-end;

  img {
    max-width: 10rem;
    float: left;
  }

  h1 {
    float: left;
    margin: 0 0 -1.5rem 1rem;
  }

  .container {
    margin-top: 3rem;
  }

  .flex {
    align-items: flex-end;
  }
}

.hero

.strikethrough {
}
