<div class="bg-dark">
  <footer>
    <h3>
      Jason Nedell
    </h3>

    <a href="mailto:yo@nedell.com">
      yo@nedell.com
    </a>

    <p class="mt-16 mb-16">
      I’m a software developer. <br>
      I can help you solve a problem, <br>
      build a product or grow existing project.
    </p>

    <div id="footer-menu">
      <ul>
        <li class="heading">
          Menu
        </li>
        <li>
          <a href="#">
          About
          </a>
        </li>
        <li>
          <a href="#">
          Projects
          </a>
        </li>
        <li>
          <a href="#">
            Skills
          </a>
        </li>
      </ul>

      <ul>
        <li class="heading">
          On the Internets
        </li>
        <li>
          <a href="mailto:yo@nedell.com">
            Email
          </a>
          <a href="" class="text-darker">
            (pgp)
          </a>
        </li>
        <li>
          <a href="https://github.com/Sibicle/">
            GitHub
          </a>
        </li>
        <li>
          <a href="https://accidental.engineering/">
            Project Blog
          </a>
        </li>
      </ul>

      <ul>
        <li class="heading">
          Resources
        </li>
        <li>
          <a href="">
            Résumé
          </a>
        </li>
        <li>
          <a href="http://www.zombo.com/">
            Limitless Possibility
          </a>
        </li>
      </ul>
    </div>

    <ul class="mb-6 mt-16" id="copyright">
      <li>
        &copy; 2020 Jason Nedell
      </li>
      <li>
        <a href="">
          More information
        </a>
      </li>
      <li>
        <a href="https://github.com/Sibicle/nedell-folio">
          View on GitHub
        </a>
      </li>
      <li>
        <a href="https://timmyomahony.com/">
          Words & Inspiration <i class="far fa-xs fa-heart"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
