<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ config.title }}</title>
<meta name="description" content="{{ config.description }}">

<link rel="stylesheet" href="//unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">

<link href="//fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:700&display=swap" rel="stylesheet" crossorigin="anonymous" SameSite="none Secure">
<script src="//kit.fontawesome.com/e8b67974d7.js"></script>

<link
  rel="stylesheet"
  href="{{ get_url(path='style.css') }}"
>
