<section class="hero">
  <div class="flex">
    <img src="{{ get_url(path='img/face.png') }}" alt="my dumb face">
    <h1>
      Hello.
    </h1>
  </div>

  <div class="container">
    <h3>
      I’m Jason, a software developer and maker.
    </h3>

    <h3>
      I can solve
      <span class="text-lighter text-strikethrough">all</span>
      <span class="text-lighter text-strikethrough">some</span>
      <span class="text-lighter text-strikethrough">one of your</span>
      problems, ok?
    </h3>
  </div>

  <div class="container">
    <h4>
      I design and build creations, large & small, digital & physical.
    </h4>
    <h4>
      Dreaming of something incredible?
    </h4>
    <h4>
      Lets talk. <a href="#">yo@nedell.com</a>
    </h4>
  </div>
</section>
