<section class="hero">
  <div class="flex">
    <img src="{{ get_url(path='img/face.png') }}" alt="my dumb face">
    <h1>
      Hello.
    </h1>
  </div>

  <div class="container">
    <h2>
      I’m Jason, a software developer and maker.
    </h2>

    <h2>
      I can solve <span class="strikethrough">all</span>
      <span class="strikethrough">some</span>
      <span class="strikethrough">one of your</span> problems, ok?
    </h2>
  </div>

  <div class="container">
    <p>
      I design and build creations, large & small, digital & physical.
    </p>
    <p>
      Dreaming of something incredible?
    </p>
    <p>
      Lets talk. <a href="#">yo@nedell.com</a>
    </p>
  </div>

  </div>
</section>
