<section class="project">
  <h2 class="m-b-xxxl">
    What have I made?
  </h2>

  <div class="pure-g m-b-xxxl">
    <div class="pure-u-3-5">
      <h3>
        The social and discovery network <br>
        and community engagement application <br>
        for the Donor Sibling Registry <br>
      </h3>

      <ul>
        <li>
          Gummies jelly beans chocolate chocolate cake candy canes danish
          gummi bears toffee.
        </li>
        <li>
          Ice cream candy canes candy canes. Icing marshmallow candy canes
          jelly-o gummies macaroon.
        </li>
        <li>
          Pastry cookie pie marzipan gummies oat cake cotton candy candy.
        </li>
        <li>
          Jelly beans candy ice cream.
        <li>
          Soufflé dragée oat cake. Bonbon toffee sugar plum candy canes apple.
        </li>
      </ul>
    </div>

    <div class="pure-u-2-5">
      <img src="{{ get_url(path='img/whale.svg') }}" alt="">
    </div>
  </div>

  <div class="pure-g m-b-xxxl">
    <div class="pure-u-2-5">
      <img src="{{ get_url(path='img/coffee.svg') }}" alt="">
    </div>

    <div class="pure-u-3-5">
      <h3>
        The internet-connected coffee roaster <br>
        with companion iPad app <br>
        for Bellwether Coffee <br>
      </h3>

      <ul>
        <li>
          Gummies jelly beans chocolate chocolate cake candy canes danish
          gummi bears toffee.
        </li>
        <li>
          Ice cream candy canes candy canes. Icing marshmallow candy canes
          jelly-o gummies macaroon.
        </li>
        <li>
          Pastry cookie pie marzipan gummies oat cake cotton candy candy.
        </li>
        <li>
          Jelly beans candy ice cream.
        <li>
          Soufflé dragée oat cake. Bonbon toffee sugar plum candy canes apple.
        </li>
      </ul>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-3-5">
      <h3>
        The enterprise resource management software <br>
        for SparkFun Electronic’s business logistics
      </h3>

      <ul>
        <li>
          Gummies jelly beans chocolate chocolate cake candy canes danish
          gummi bears toffee.
        </li>
        <li>
          Ice cream candy canes candy canes. Icing marshmallow candy canes
          jelly-o gummies macaroon.
        </li>
        <li>
          Pastry cookie pie marzipan gummies oat cake cotton candy candy.
        </li>
        <li>
          Jelly beans candy ice cream.
        <li>
          Soufflé dragée oat cake. Bonbon toffee sugar plum candy canes apple.
        </li>
      </ul>
    </div>

    <div class="pure-u-2-5 m-b-xxxl">
      <img src="{{ get_url(path='img/mac.svg') }}" alt="">
    </div>
  </div>
</section>
