<section class="skill">
  <h2 class="mb-32">
    What can I do?
  </h2>

  <div class="flex mb-32">
    <div class="w-1/4">
      <ul>
        <li>
          <h3>Languages</h3>
        </li>
        <li>
          <span>
            PHP
          </spa rogress-n>
          <span class="progress 8">
            <span class="progress-bar">
            </span>
            <span class="number">
              8/10
            </span>
          </span>
        </li>
        <li>
          Ruby
          <span class="progress progress-6">
            <span class="progress-bar">
            </span>
            <span class="number">
              6/10
            </span>
          </span>
        </li>
        <li>
          Java
          <span class="progress progress-6">
            <span class="progress-bar">
            </span>
            <span class="number">
              6/10
            </span>
          </span>
        </li>
        <li>
          JavaScript
          <span class="progress progress-10">
            <span class="progress-bar">
            </span>
            <span class="number">
              6/10
            </span>
          </span>
        </li>
      </ul>
    </div>

    <div class="w-1/4">
      <ul>
        <li>
          <h3>
            Libraries
          </h3>
        </li>
        <li>
          Rails
          <span class="progress progress-8">
            <span class="progress-bar">
            </span>
            <span class="number">
              8/10
            </span>
          </span>
        </li>
        <li>
          Vue
          <span class="progress progress-5">
            <span class="progress-bar">
            </span>
            <span class="number">
              5/10
            </span>
          </span>
        </li>
        <li>
          Arduino
          <span class="progress progress-6">
            <span class="progress-bar">
            </span>
            <span class="number">
              6/10
            </span>
          </span>
        <li>
          WordPress
          <span class="progress progress-10">
            <span class="progress-bar">
            </span>
            <span class="number">
              6/10
            </span>
          </span>
        </li>
      </ul>
    </div>

    <div class="w-1/4">
      <ul>
        <li>
          <h3>
            Tools
          </h3>
        </li>
        <li>
          Unix
          <span class="progress progress-8">
            <span class="progress-bar">
            </span>
            <span class="number">
              8/10
            </span>
          </span>
        </li>
        <li>
          Ansible
          <span class="progress progress-4">
            <span class="progress-bar">
            </span>
            <span class="number">
              4/10
            </span>
          </span>
        </li>
        <li>
          Docker
          <span class="progress progress-3">
            <span class="progress-bar">
            </span>
            <span class="number">
              3/10
            </span>
          </span>
        <li>
          Nginx
          <span class="progress progress-4">
            <span class="progress-bar">
            </span>
            <span class="number">
              4/10
            </span>
          </span>
        </li>
      </ul>
    </div>

    <div class="w-1/4">
      <ul>
        <li>
          <h3>
            Applications
          </h3>
        </li>
        <li>
          Microsoft Word
          <span class="progress progress-1">
            <span class="progress-bar">
            </span>
            <span class="number">
              6/10
            </span>
          </span>
        </li>
        <li>
          Todoist
          <span class="progress progress-10">
            <span class="progress-bar">
            </span>
            <span class="number">
              6/10
            </span>
          </span>
        </li>
        <li>
          VLC
          <span class="progress progress-4">
            <span class="progress-bar">
            </span>
            <span class="number">
              6/10
            </span>
          </span>
        <li>
          YouTube
          <span class="progress progress-2">
            <span class="progress-bar">
            </span>
            <span class="number">
              6/10
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
