<section id="hero" class="w-screen px-8 pb-6 pt-40 md:px-12 md:pb-8">
  <div class="max-w-5xl mx-auto">
    <div class="flex
              flex-col items-center mb-12
              sm:flex-row sm:items-end sm:justify-start sm:mb-10
              md:mb-16">
      <div class="flex-0 mb-8 sm:mb-0">
        <img
          class="w-48 h-48 sm:w-40 sm:h-40"
          src="{{ get_url(path='img/face.png') }}"
          alt="my dumb face"
        >
      </div>
        <h1 class="flex-1 sm:ml-6 text-7xl sm:text-8xl">
          Hello.
        </h1>
    </div>

    <div class="mb-6">
      <h3 class="mb-2 text-3xl">
        I’m Jason, a software developer and maker
      </h3>
      <h3 class="text-3xl">
        I can solve
        <span class="text-lighter line-through">all</span>
        <span class="text-lighter line-through">some</span>
        <span class="text-lighter line-through">one of your</span>
        problems, ok?
      </h3>
    </div>

    <div class="mb-6">
      <h4 class="mb-2 text-3xl">
        I design and build creations, large & small, <br class="hidden md:block">digital & physical.
      </h4>
      <h4 class="mb-2 text-3xl">
        Dreaming of something incredible?
      </h4>
      <h4 class="text-3xl">
        Lets talk.
      </h4>
    </div>

    <div class="mb-6">
      <h4 class="text-3xl">
        <a href="#">yo@nedell.com</a>
      </h4>
    </div>
  </div>
</section>
