<section id="me" class="max-w-5xl mx-auto py-16 mb-16">
  <h2 class="text-6xl text-center mb-24">
    Who even am I?
  </h2>

  <div class="flex justify-center mb-24">
    <div class="w-1/4">
      <img
        src="{{ get_url(path='img/me.jpg') }}"
        alt="My dumb head"
        class="rounded-full">
    </div>
  </div>

  <div class="flex justify-center">
    <div class="w-4/5">
      <p>
        I’ve always loved building things,
        from CNC-routered wheels of fortune, to sound-reactive LED totem poles.
        I have a very healthy, definitely-not-concerning obsession with
        organizing things into bins. I’m self-taught (and self-sabotaging)
        and like learnin’ stuff.
      </p>
      <p>
        And I spend a lot of time going down mountains on various wheels
        and planks.
      </p>
      <p>
        I guess you might be here hoping I can do some programming, and yes
        I do a lot of that too. Does it come with LEDs or bins?
      </p>
    </div>
  </div>
</section>
