<nav class="fixed w-screen h-32 top-0 bg-white">
  <div class="flex items-center max-w-5xl mx-auto">
    <img class="flex-none w-32 h-32"
         src="{{ get_url(path='img/logo.svg') }}"
         alt="JN"
    >
    <ul class="flex flex-grow flex-shrink-0
               align-center justify-end list-none mx-4"
    >
      <li>
        <a id="link-projects"
           class="text-darker grad-link"
           href="#projects"
           data-scroll
        >
          Projects
        </a>
      </li>
      <li>
        <a id="link-skills"
           class="text-darker grad-link"
           href="#skills"
           data-scroll
        >
          Skills
        </a>
      </li>
      <li>
        <a id="link-work"
           class="text-darker grad-link"
           href="#work"
           data-scroll
        >
          Work
        </a>
      </li>
      <li>
        <a id="link-me"
           class="text-darker grad-link"
           href="#me"
           data-scroll
        >
          Me
        </a>
      </li>
      <li>
        <a href="mailto:yo@nedell.com" class="text-light">
          yo@nedell.com
        </a>
      </li>
    </ul>
  </div>
</nav>
