<nav>
  <img src="{{ get_url(path='img/logo.svg') }}" alt="JN" width="100rem">
  <ul>
    <li>
      <a data-scroll href="#projects">
        Projects
      </a>
    </li>
    <li>
      <a data-scroll href="#skills">
        Skills
      </a>
    </li>
    <li>
      <a data-scroll href="#work">
        Work
      </a>
    </li>
    <li>
      <a data-scroll href="#me"">
        Me
      </a>
    </li>
    <li>
      <a href="mailto:yo@nedell.com" class="text-light">
        yo@nedell.com
      </a>
    </li>
  </ul>
</nav>
