{% set dsr = get_page(path="projects/dsr.md") %}
{% set bellwether = get_page(path="projects/bellwether.md") %}
{% set sparkfun = get_page(path="projects/sparkfun.md") %}

<section id="projects">
  <h2 class="mb-32">
    What have I made?
  </h2>

{# DSR #}
  <div class="flex justify-center mb-16">
    <div class="w-4/5">
      <h3>
        {{ dsr.title }}
      </h3>
      <p>
        {{ dsr.description | markdown | safe }}
      </p>
    </div>
  </div>

  <div class="flex items-center mb-32">
    <div class="w-3/5 mr-8">
      {{ dsr.content | safe }}
    </div>

    <div class="w-2/5">
      <img src="{{ get_url(path='img/whale.svg') }}" alt="">
    </div>
  </div>

{# Bellwether #}
  <div class="flex justify-center mb-16">
    <div class="w-4/5">
      <h3>
        {{ bellwether.title }}
      </h3>
      <p>
        {{ bellwether.description | markdown | safe }}
      </p>
    </div>
  </div>

  <div class="flex items-center mb-32">
    <div class="w-2/5">
      <img src="{{ get_url(path='img/coffee.svg') }}" alt="">
    </div>

    <div class="w-3/5 ml-8 mt-8">
      {{ bellwether.content | safe }}
    </div>
  </div>

{# SparkFun #}
  <div class="flex justify-center mb-16">
    <div class="w-4/5">
      <h3>
        {{ sparkfun.title }}
      </h3>
      <p>
        {{ sparkfun.description | markdown | safe }}
      </p>
    </div>
  </div>

  <div class="flex items-center mb-32">
    <div class="w-3/5 mr-8">
      {{ sparkfun.content | safe }}
    </div>

    <div class="w-2/5">
      <img src="{{ get_url(path='img/mac.svg') }}" alt="">
    </div>
  </div>
</section>
