<section id="projects">
  <h2 class="mb-32">
    What have I made?
  </h2>

  <div class="flex items-center mb-64">
    <div class="w-3/5 mr-8">
      <h3>
        The Donor Sibling Registry<br>
        community engagement platform
      </h3>

      <ul>
        <li>
          Complete redesign of legacy PHP web application.
        </li>
        <li>
          Architected an unmaintainable amalgamation of code into modern, cohesive, maintanable codebase.
        </li>
        <li>
          Architected an unmaintainable amalgamation of code into modern, cohesive, maintanable codebase.
        </li>
      </ul>
    </div>

    <div class="w-2/5">
      <img src="{{ get_url(path='img/whale.svg') }}" alt="">
    </div>
  </div>

  <div class="flex items-center mb-64">
    <div class="w-2/5">
      <img src="{{ get_url(path='img/coffee.svg') }}" alt="">
    </div>

    <div class="w-3/5 ml-8 mt-8">
      <h3>
        The Bellwether Coffee <br>
        internet-connected coffee roaster <br>
        with companion iPad app <br>
      </h3>

      <ul>
        <li>
          Oversaw design, UX, and development of admin panel, business dashboard, and companion iPad app.
        </li>
        <li>
          Worked with firmware engineer to diagnose and repair entire communication chain between web and roaster hardware microcontroller.
        </li>
      </ul>
    </div>
  </div>

  <div class="flex items-center mb-32">
    <div class="w-3/5 mr-16 align-middle">
      <h3>
        The enterprise resource management software <br>
        for SparkFun Electronic’s business logistics
      </h3>

      <ul>
        <li>
          Developed features and maintenance of custom php / postgres ERP web application.
        </li>
        <li>
          Worked on complex projects in code with high technical debt and lost domain knowledge.
        </li>
        <li>
Collaborated with non-technical stakeholders to define realistic requirements
        </li>
        <li>
Transformed requirements into specifications, with an eye for rigor and maintainability.
        </li>
        <li>
Aimed for future maintainability by establishing boilerplate and best practices.
        </li>
        <li>
Interfaced with ops in developing continuous integration, unit test and deploy procedures.
        </li>
        <li>
Acted as standing Director during turbulent transitional period—provided day-to-day structure, and worked with Director suite to develop interview process for new Director.
        </li>
      </ul>
    </div>

    <div class="w-2/5 align-middle">
      <img src="{{ get_url(path='img/mac.svg') }}" alt="">
    </div>
  </div>
</section>
