{% import "_macros.html" as macros %}
{% set langs = load_data(path="content/skills/languages.json") %}
{% set libs  = load_data(path="content/skills/libraries.json") %}
{% set tools = load_data(path="content/skills/tools.json") %}
{% set irl   = load_data(path="content/skills/irl.json") %}

<section id="skills" class="max-w-5xl mx-auto py-16">
  <h2 class="text-6xl text-center mb-24">
    What do I know?
  </h2>

  <div class="flex">
    <div class="w-1/4">
      <ul>
        <li>
          <h3>Languages</h3>
        </li>
        {% for lang in langs %}
        <li>
          {{ macros::skill_item(name=lang.name, rating=lang.rating) }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="w-1/4">
      <ul>
        <li>
          <h3>Libraries</h3>
        </li>
        {% for lib in libs %}
        <li>
          {{ macros::skill_item(name=lib.name, rating=lib.rating) }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="w-1/4">
      <ul>
        <li>
          <h3>Tools</h3>
        </li>
        {% for tool in tools %}
        <li>
          {{ macros::skill_item(name=tool.name, rating=tool.rating) }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="w-1/4">
      <ul>
        <li>
          <h3>IRL</h3>
        </li>
        {% for thing in irl %}
        <li>
          {{ macros::skill_item(name=thing.name, rating=thing.rating) }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
