<section id="work" class="max-w-5xl mx-auto py-16">
  <h2 class="text-6xl text-center mb-24">
    What can I do?
  </h2>

  <div class="flex justify-center">
    <div class="w-4/5">
      <p>
        Congratulations on making it this far! You must be very interested at this point.
      </p>
      <p>
        Great news, I am currently looking for more work! I am looking for
        front-end, back-end, and database projects. Projects that need help
        getting over the finish line. Projects that are solving
        multi-system problems. Projects that can benefit from a remote,
        adaptable programmer with excellent communication skills. And any
        other creation under the sun!
      </p>
    </div>
  </div>
</section>
